<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		</head>
		<body>
			<nav>
				<a href="https://www.tychesoftwares.com/"><img src="assets/images/tyche-softwares-logo.svg" alt="Tyche Softwares" width="180" /></a>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.tychesoftwares.com">Tychesoftwares.com</a></li>
	        		<li><a href="https://www.tychesoftwares.com/premium-plugins">Premium WooCommerce plugins</a></li>
		        	<li><a href="https://www.tychesoftwares.com/about">About</a></li>
	        		<li><a href="https://www.tychesoftwares.com/blog">Blog</a></li>
	    		</ul>
	    		
	    		<ul>
	        		<li><a href="mailto:support@tychesoftwares.com">email</a></li>
	        		<li><a href="https://github.com/tychesoftwares">github.com/tychesoftwares</a></li>
				</ul>
			</footer>
		</body>
	</html>
